<a href="https://colab.research.google.com/github/preethadk11/30-Days-Of-Python-challenge/blob/main/30_Days_Of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Day1 Exercise**

In [ ]:
import sys
print(sys.version)

3.12.12 (main, Oct 10 2025, 08:52:57) [GCC 11.4.0]

In [ ]:
print(3+4);print(3-4);print(3*4);print(int(3/4));print(3%4);print(3//4)

7
-1
12
0
3
0

In [ ]:
print("Preetha catherin")
print("India")
print("I am enjoying 30 days of Python")

Preetha catherin
India
I am enjoying 30 days of Python

In [ ]:
print(type(10));print(type(9.8));print(type(3.14));print(type(4-4j));print(type(['asabeh','python','finland']));print(type('Preetha'))

<class 'int'>
<class 'float'>
<class 'float'>
<class 'complex'>
<class 'list'>
<class 'str'>

**Euclidian distance**

In [ ]:
import math as m
#given (2,3) and (10,8)
x1=2;y1=3;x2=10;y2=8
d=((x2-x1)**2)+((y2-y1)**2)
result=m.sqrt(d)
print(result)

9.433981132056603

**Day2Exercise**

In [ ]:
#Day 2: 30 Days of python programming
first_name='Preetha'
last_name="catherin"
full_name='Preetha Catherin'
country='India'
city='Karaikal'
age=19
year=2025
is_married=False
is_true='I am enjoying it'
is_light_on='No'
rigth='Yes';left='no'
print(type(first_name))
print(len(first_name))
print(len(first_name)==len(last_name))
num_one=5;num_two=4
total=num_one+num_two
exp=num_one**num_two
print(total)
print(exp)
radius=int(input("Enter radius:"))
area=3.14*radius*radius
print(area)
circum=2*3.14*radius
print(circum)
help('keywords')

<class 'str'>
7
False
9
625
Enter radius:4
50.24
25.12

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

**Day3Exercise**

In [ ]:
age=19
height=5.1
complex_number=3+1j
base=int(input('Enter the base: '))
height=int(input("Enter the height: "))
print(f'The area of the triangle is {int(0.5*base*height)}')

Enter the base: 20
Enter the height: 10
The area of the triangle is 100

In [ ]:
a=int(input("Enter side a: "))
b=int(input("Enter side b: "))
c=int(input("Enter side c: "))
print(f'The perimeter of the triangle is {a+b+c}')

Enter side a: 5
Enter side b: 4
Enter side c: 3
The perimeter of the triangle is 12

In [ ]:
length=int(input("Enter the length: "))
width=int(input("Enter the width: "))
print(f'The area of the rectangle is {length*width}')
print(f'The perimeter of the rectangle is {2*(length+width)}')

Enter the length: 20
Enter the width: 13
The area of the rectangle is 260
The perimeter of the rectangle is 66

In [ ]:
#y=2x-2
m=2
b=-2
x_intercept=(b*-1)/m
print(x_intercept)

1.0

In [ ]:
#slope=y2-y1/x2-x1
import math as m
x1=2;y1=2;x2=6;y2=10
slope=(y2-y1)/(x2-x1)
print(slope)
d=((x2-x1)**2)+((y2-y1)**2)
print(int(m.sqrt(d)))

2.0
8

In [ ]:
slope1=2
slope2=2
print(slope1==slope2)

True

In [ ]:
#y=x^2+6x+9
x=-3
y=((x**2)+6*(x)+9)
print(y)

0

In [ ]:
print(len('python')==len('dragon'))
print('python'=='dragon')

True
False

In [ ]:
if 'on' in 'python' and 'dragon':
  print('yes')
else:
  print('no')

yes

In [ ]:
sentence='I hope this course is not full of jargon'
if 'jargon' in sentence:
  print(True)
else:
  print(False)

True

In [ ]:
if 'on' not in 'dragon' and 'python':
  print(True)
else:
  print(False)

In [ ]:
print(len('python'))
print(float(len('python')))
print(str(len('python')))

6
6.0
6

In [ ]:
num=int(input('Enter the number: '))
if num%2==0:
  print('Even')
print('Not even')

Enter the number: 5
Not even

In [ ]:
num1=7//3
num2=int(2.7)
print(num1)
print(num1==num2)

2
True

In [ ]:
print(type('10')==type(10))
print(int(9.8)==10)
hour=int(input('Enter the hours: '))
rate=int(input('Enter the rate: '))
print(f'your weekly earning is {hour*rate}')

False
False
Enter the hours: 40
Enter the rate: 28
your weekly earning is 1120

In [2]:
n=1
for i in range(1,6):
  print(n,end=" ")
  print(1,end=" ")
  print(n,end=" ")
  print(n**2,end=" ")
  print(n**3)
  n+=1

1 1 1 1 1
2 1 2 4 8
3 1 3 9 27
4 1 4 16 64
5 1 5 25 125